<!DOCTYPE html>
<html>
  <title>YA BUDGET</title>
  <body>
    <h1>INPUT YO EARNINGS SUCKAAAAAAA</h1>
    <form name="derek" action="transaction">
      <label for="trans_name">Transaction Name</label>
      <input id="trans_name" type="text"/><br />
      <label for="trans_amount">Transaction Amount</label>
      <input id="trans_amount" type="text"/><br />
      <label for="trans_name">Transaction Category</label>
      <input id="trans_category" type="text"/><br />
      <input id="trans_sumbit" type="submit"/>
    </form>
  </body>
</html>
